<section class="login-container">
  <mat-card class="card-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card-header class="card-header">
        <mat-card-title>Login to Backoffice</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-form-field appearance="outline" class="field">
            <mat-label>Username</mat-label>
            <input
              matInput
              type="text"
              placeholder="Username"
              formControlName="username"
              autocomplete="off"
              required
            />
            <mat-error *ngIf="hasError('username', 'required')">
              Username is required
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="field">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
              required
            />
            <mat-error *ngIf="hasError('password', 'required')">
              Password is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="login-error">
          <mat-error *ngIf="loginError">
            You have entered an invalid username or password
          </mat-error>
        </div>
      </mat-card-content>
      <mat-card-footer class="card-action">
        <button mat-raised-button color="primary" [disabled]="!loginForm.valid">
          Login
        </button>
      </mat-card-footer>
    </form>
  </mat-card>
</section>
